.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3d4147;
    color: white !important;
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    padding: 0px 20px;
    /* padding: 10px; */
}

.sidebar-title {
    /* font-size: 1.5rem; */
    margin:20px;

}

.sidebar-item {
    color: white;
    width: 100%;
    font-size: 1.1rem;
    padding: 20px 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #343a40;
}

.sidebar-item:nth-child(even) {
    background-color: #3d4147; /* Slightly lighter background for even items */
}

.sidebar-item:hover {
    color: rgb(0, 229, 190);
    text-decoration: none;
}

.sidebar-icon {
    font-size: 1.2rem;
}
