/* Container for the entire dashboard */

.dash-extra{
    display: flex;
    width: 100%;
}
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevent scrolling of the entire container */
    background-image: url(../../Assets/background_green.jpg);
    width: 84%;
}

/* Header section styling */
.dashboard-header {
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-header h1 {
    font-size: 2rem;
    color: #333;
}

.dashboard-header p {
    font-size: 1rem;
    color: #666;
}

/* Main content area with fixed height */
.dashboard-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    height: calc(100vh - 120px); /* Adjust height based on header size */
}

/* State list styling with scrollable content */
.state-list {
    flex: 1;
    max-width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
    overflow-y: auto; /* Enable vertical scrolling */
    height: 80%; /* Full height of the parent container */
}

/* List styling */
.state-list ul {
    list-style-type: none;
    padding: 0;
}

.state-list li {
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    transition: background-color 0.3s ease;
}

.state-list li:hover,
.state-list li.selected {
    background-color: #3D4147;
  color: #5AE4A8;
    border-radius: 4px;
}

/* Bar graph styling */
.bar-graph {
    flex: 3;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%; /* Full height of the parent container */
}
